.menu {
   padding-top: 0 !important;  
   max-width: 20%;
}

.menuItem {
   transition: .1s;
}

.menuItem:hover {
   background-color: rgb(161, 216, 139) !important;
}
.menuItem:focus {
   background-color: #86b554 !important;
}

